
#filter {
    background-color: var(--main-yellow);
    margin-bottom: 50px;
    /*안의 컨텐츠에 따라 달라지는 height*/
    overflow: hidden;
    height: auto;
}

/*필터 버튼*/
#filter_box > .btn {
    margin:10px;
    background-color: white;
    border : 2px solid var(--btn-success);
    border-radius: 30px;
}

.filter {
    font-size:1.2rem;
}

/*필터 버튼 클릭 시*/
#filter_box :focus {
    font-weight: bold;
    background-color: var(--btn-success);
    border : none;
}

.card {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.image-container {
    position: relative
}

.thumbnail-img {
    border-radius: 10px !important
}

/*레시피 카드에 마우스 오버시*/
.card:hover {
	opacity: 0.8;
	animation: post-ani 0.8s linear 1;
}



/*레시피 카드*/
.grid-item {
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    height: auto;
    position : relative;
    width: 200px;
    display: inline-block;
    background-color : var(--main-yellow);
} 


/*이미지*/
.grid-item img {
    display: block;
    min-width: 100%;
    max-width: 100%;
} 

/*버튼, 제목*/
.recipe_detail {
    text-align: center;
    width:100%;
    /* background-color: aliceblue; */
}

/*제목*/
.title {
    padding:10px;
}

/*레시피 카드 안에 버튼*/
/* .show_recipe {
    background-color: var(--btn-success);
}
.show_cook {
    background-color: var(--btn-warn);
} */

/*레시피 보기, 요리 하기 버튼*/
.show_recipe, .show_cook {
    background-color: var(--btn-success);
    color: white;
    border: 1px solid var(--btn-success);
    margin: 5px;
}

.show_recipe:hover , .show_cook:hover {
    background-color: var(--btn-success);
    color: #ffffff;
}

/* white-space: nowrap;
transform: translate(-50%, 0) */

.ingd_time > div {
    padding: 5px;
}
