<%-include('../main/head.ejs') %>
    <link href="/static/css/fridge/myFridge.css" rel="stylesheet" type="text/css">
    <script src="/static/script/fridge/myFridgeAdd.js" type="text/javascript"></script>
    <script src="/static/script/fridge/myFridgeUpdate.js" type="text/javascript"></script>
    <script src="/static/script/fridge/myFridgeRecipe.js" type="text/javascript"></script>

<%-include('../main/header.ejs') %>

<main>
    <a href="/">로그인 후 이용해주세요</a>
</main>

<%-include('../main/footer.ejs') %>
