#inform_box > p {
    font-size: 30px;
    text-align: center;
    margin-bottom: 5%;
}
#inform_box > p > span {
    font-weight: bold;
}
#form_info {
    margin: 0% 30% 0% 30%;
}
#form_info > div {
    flex-direction: column;
}
#form_info > div > input {
    width:100%;
    margin-bottom: 50px;
}
#form_info > div > p {
    font-size: 20px;
    font-weight: bold;
}
#form_info > button {
    float: right;
}
#button_del {
    background-color: white;
    color: #b9b9b9;
    border: 1px solid #b9b9b9;
}
#button_del:hover {
    background-color: #b9b9b9;
    color: white;
}