#back_color {
    background-color: var(--main-yellow);
    min-height: 100%;
}
#del_box {
    text-align: center;
    padding-top: 10%;
    height:100vh;
}
#del_box > p > span {
    font-weight: bold;
}
#del_box > p:nth-child(1), #del_box > p:nth-child(2) {
    margin-bottom: -5px;
}
#del_box > p:nth-child(1), #del_box > p:nth-child(2), #del_box > p:nth-child(3) {
    font-size: 50px;
}
#del_box > p:nth-child(4) {
    font-weight: bold;
    color: var(--btn-warn);
}
#del_box > p:nth-child(5) {
    font-size: 20px;
}
body.swal2-height-auto {
    height: 100%;
}