.chart_container {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}
.fresh_ingredients_categories_chart,
.cooked_dishes_categories_chart {
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
}

/* 페이지 이동 버튼 */
.go_to_button {
  border: 1.5px solid rgb(53, 53, 53);
}
.go_to_button:hover {
  background-color: #4e4e4e;
  color: #ffffff;
}

/* 최근 본 레시피 title 관련 */
.side_title_recipe_dn,
.side_title_dish_dn {
  display: none;
}
.recipe_container {
  display: flex;
  justify-content: space-between;
}
.side_title_recipe_background_img {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 620px;
  width: 40%;
  background: url(/static/img/recipe.jpg) no-repeat center;
  background-size: cover;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}
.side_title_recipe > span,
.side_title_dish > span {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  text-align: center;
  font-size: 100px;
  font-family: "NanumSquareAceb";
  color: white;
  text-shadow: 0px 0px 4px #000;
}

/* 최근 본 레시피 카드 관련 */
.recipe_card_container,
.dish_card_container {
  width: 70%;
}
.recipe_card,
.dish_card {
  height: 300px;
}
.recipe_card_container > div > div:nth-child(2),
.recipe_card_container > div > div:nth-child(4),
.dish_card_container > div > div:nth-child(2),
.dish_card_container > div > div:nth-child(4) {
  margin-left: 20px;
}
.recipe_card_container > div > div:nth-child(1),
.recipe_card_container > div > div:nth-child(2),
.dish_card_container > div > div:nth-child(1),
.dish_card_container > div > div:nth-child(2) {
  margin-bottom: 20px;
}
.recipe_card_container > div > div,
.dish_card_container > div > div {
  flex-grow: 1;
}
.recipe_card_container {
  margin-left: 4%;
}

/* 최근에 한 요리 title 관련 */
.dish_container {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.side_title_dish_background_img {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 620px;
  width: 40%;
  background: url(/static/img/cooking.jpg) no-repeat center;
  background-size: cover;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}
.dish_card_container {
  margin-right: 4%;
}

/* 최근 본 레시피 카드 관련 */
.recipe_card_title,
.dish_card_title {
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  font-family: "NanumSquareAceb";
  font-size: 30px;
  font-weight: border;
  color: white !important;
  text-shadow: 0px 0px 3px #000;
  background-color: rgba(0, 0, 0, 0.3);
}
.recipe_card_title:hover,
.dish_card_title:hover {
  background-color: rgba(0, 0, 0, 0);
}

/* 카드에 내용이 없을 때 나올 숫자 */
.blank_card {
  background-color: #ffffff;
  text-align: center;
  padding-top: 70px;
  height: 300px;
  font-size: 100px;
  font-weight: bolder;
  font-family: "NanumSquareAceb";
  color: white;
  text-shadow: 0px 0px 3px #000000;
}

.recipe_card_container > div,
.dish_card_container > div {
  height: 300px;
}

@media (max-width: 1296px) {
  .chart_container {
    justify-content: space-evenly;
  }
  #fresh_ingredients_categories,
  #cooked_dishes_categories {
    width: 450px !important;
    height: 450px !important;
  }
}
@media (max-width: 992px) {
  .chart_container {
    display: block;
  }
  .fresh_ingredients_categories_chart,
  .cooked_dishes_categories_chart {
    text-align: center;
  }
  #fresh_ingredients_categories,
  #cooked_dishes_categories {
    display: inline-block !important;
  }
  .go_to_button {
    display: block;
    margin: auto;
    margin-bottom: 30px;
  }
  .side_title_recipe_background_img,
  .side_title_dish_background_img {
    width: 250px;
    height: 400px;
  }
  .side_title_recipe > span,
  .side_title_dish > span {
    font-size: 60px;
  }
  .recipe_card,
  .dish_card,
  .blank_card {
    height: 190px;
  }
  .recipe_card img,
  .dish_card img {
    height: 100% !important;
  }
  .blank_card {
    padding: 30px;
  }
  .recipe_card_title,
  .dish_card_title {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  #cooked_dishes_categories {
    width: 550px !important;
    height: 500px !important;
  }
  .side_title_recipe_background_img,
  .side_title_dish_background_img {
    width: 200px;
    height: 360px;
  }
  .side_title_recipe > span,
  .side_title_dish > span {
    font-size: 40px;
  }
  .recipe_card,
  .dish_card,
  .blank_card {
    height: 170px;
  }
  .blank_card {
    font-size: 60px;
    padding-top: 45px;
  }
  .recipe_card_container,
  .dish_card_container {
    width: 100%;
  }
  .recipe_card_title,
  .dish_card_title {
    font-size: 15px !important;
  }
}
@media (max-width: 600px) {
  #fresh_ingredients_categories {
    width: 310px !important;
    height: 310px !important;
  }
  #cooked_dishes_categories {
    width: 350px !important;
    height: 300px !important;
  }
  .chart_title {
    font-size: 20px;
  }
}
@media (max-width: 540px) {
  .side_title_recipe_background_img,
  .side_title_dish_background_img {
    display: none;
  }
  .recipe_container,
  .dish_container {
    height: 950px;
  }
  .recipe_card_container,
  .dish_card_container {
    width: auto !important;
    margin: 0;
  }
  .recipe_card,
  .dish_card,
  .blank_card {
    margin: 10px 0 0 0 !important;
    width: 100%;
    height: 220px;
  }
  .blank_card {
    padding-top: 65px;
  }
  .recipe_card_title,
  .dish_card_title {
    font-size: 20px !important;
  }
  .container_title {
    margin: 0 0 6px 0;
  }
  .side_title_recipe_dn {
    display: inline-block;
    margin: 0 0 5px 0;
    font-size: 20px;
    font-weight: bolder;
    background-color: #fff3cd;
  }
  .side_title_dish_dn {
    display: inline-block;
    margin: 50px 0 5px 0;
    font-size: 20px;
    font-weight: bolder;
    background-color: #fff3cd;
  }
  .dish_container {
    margin-top: 3px;
  }
}
@media (max-width: 350px) {
  #fresh_ingredients_categories {
    width: 300px !important;
    height: 300px !important;
  }
  #cooked_dishes_categories {
    width: 310px !important;
    height: 260px !important;
  }
  .chart_title {
    font-size: 15px;
  }
}
