#main_background {
    background-color: var(--main-yellow);
}
/* outbox1 */
#out_box1 {
    background-color: #ffffff;
    border-radius: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top:50px;
}
#out_box1_text {
    margin-left: 30px;
    text-align: left;
    font-family: "NanumSquareAceb";
}

/* outbox2 */
#out_box2 {
    margin-top:30px;
    margin-bottom: 30px;
}
/* in_box1 */
#title_box {
    text-align: left;
}
#title_box_text {
    display: inline-block;
<<<<<<< HEAD:static/css/user/myPageBasic.css
    font-size: 3
=======
    font-size: 30px;
>>>>>>> f55a1d5fdf99463e5d9d1e9b110e26f8f62d70d4:static/css/myPage/myPageBasic.css
}