#chart {
    display: inline-block;
    background-color:#ffffff;
    width: 500px;
    height: 200px;
}

/* in_box2 */
#recipe_box {
    background-color: #ffffff;
    border-radius: 5%;
    margin-bottom: 20px;
}
#in_box1_title, #in_box2_title {
    text-align:left;
    font-weight: bold;
}
#card { 
    display: inline-block;
}
