#profile_box {
    background-color: white;
    border-radius: 3%;
    box-shadow: 0px 0px 15px #efefef;
}
#profile_box_text {
    display: inline-block;
    font-size: 25px;
}
#form_profile > #id_box, #pw_box {
    font-weight: bold;
}