#form_profile {
    background-color: white;
    border-radius: 3%;
    box-shadow: 0px 0px 15px #efefef;
}
#profile_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#profile_box > div {
    text-align: left;
    margin-left:100px;
}
#profile_box > div > span {
    font-family: 'NanumSquareAceb';
}

#button_del {
    background-color: #ffffff;
    color: #b9b9b9;
    border: 1px solid #b9b9b9;
}
#button_del:hover {
    background-color: #b9b9b9;
    color: #ffffff;
}