#background_img {
    height: 100vh;
    width: 100vw;
    background: no-repeat url("/static/img/fridge3.jpg") 0 / cover;
    position: absolute;
    z-index:-1;
    filter: blur(2px);
}
#signin_box {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#button {
    display: block;
    width:100%;
}
#signin_title, #signin_side_title {
    font-family: 'NanumSquareAceb';
    color: white;
    text-shadow:0px 0px 3px #000;
}
#signin_box > div > a, #signin_box > div > a:active:visited {
    display: block;
    font-size: 15px;
    font-family: 'NanumSquareAceb';
    text-align: right;
    color: white;
    text-shadow:0px 0px 3px #000;
    text-decoration: none;
    /* margin: 30px 30px 0px 0px; */
}
#signin_box_child {
    width:400px;
}
#form_signin > div {
    margin-bottom: 20px;
}

/* Modal 정리 */
#icon {
    margin-top: 3px;
    margin-right: 10px;
}
#modal_title {
    font-size: 25px;
}
#form_id_find, #form_pw_find {
    text-align: left;
}
#input_phone_num_title {
    margin-top: 16px;
}
#input_phone_num_title, #input_name_title {
    font-size: 18px;
    font-weight: bold;
}
#button2, #button2:hover {
    font-size: 18px;
}
#button3 {
    background-color: white;
    border: 1px solid #b9b9b9;
    color: #b9b9b9;
    font-size: 18px;
}
#button3:hover {
    background-color: #b9b9b9;
    color: white;
    font-size: 18px;
}
#find_button, #find_button_2 {
    background-color: var(--btn-success);
    color: white;
    font-size: 18px;
}
#res_data_user_id {
    font-size: 20px;
    font-weight: bold;
    color: var(--btn-warn);
}
#res_data_user_name {
    font-size: 20px;
    font-weight: bold;
}
#modal_2page_text:nth-child(1) {
    font-size: 20px;
    margin:1rem 0px 0px 0px;
}
#modal_2page_text:nth-child(2) {
    font-size: 20px;
    margin:0px 0px 1rem 0px;
}
.pw_find_btn {
    margin:0px 0px 15px 0px;
}
#warn_button {
    background-color: white;
    color: var(--btn-warn);
    border: 1px solid var(--btn-warn);
    font-size: 18px;
}
#warn_button:hover {
    background-color: var(--btn-warn);
    color: white;
    font-size: 18px;
}
#modal_footer {
    justify-content: space-between;
}