#background_img {
    height: 100vh;
    width: 100vw;
    background: no-repeat url("/static/img/fridge3.jpg") 0 / cover;
    position: absolute;
    z-index:-1;
    filter: blur(2px);
}
#signin_box {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#button {
    display: block;
    width:100%;
}
#signin_title, #signin_side_title {
    font-family: 'NanumSquareAceb';
    color: white;
    text-shadow:0px 0px 3px #000;
}
#signin_box > div > a, #signin_box > div > a:active:visited {
    display: block;
    font-size: 12px;
    font-family: 'NanumSquareAceb';
    text-align: right;
    color: white;
    text-shadow:0px 0px 3px #000;
    text-decoration: none;
    /* margin: 30px 30px 0px 0px; */
}
#signin_box_child {
    width:20%;
}
#form_signin > div {
    margin-bottom: 20px;
}