#card_size  {
    display: inline-block;
    width:410px;
    height: 450px;
    padding:0;
    border: 1px solid rgb(156, 156, 156);
}

#card_size > img {
    width:100%;
    height:100%;
    object-fit:cover;
}
#wishlist_box > nav {
    margin-top: 40px;
}
#card_text_box {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* 찜리스트 hover 시 */
#card_text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: none;
    text-align: right;
    text-shadow: 0 0 3px #000;
    font-weight: bolder;
}
#card_text_box {
    margin-top:80%;
}
#card_hover:hover {
    background-color: rgba(0, 0, 0, 0.3);
    transition: all ease 0.7s;
}
#card_hover:hover #card_text {
    display: block;
    color: white;
    transition: all ease 0.7s;
}

#heart_icon {
    font-size: 30px;
    color: red;
}
@media (max-width: 991px) {
    #wishlist_card_box_child {
        text-align: center;
    }
    #card_size {
        display: inline-block;
    }
    #heart_icon {
        float: left;
    }
}
@media (max-width: 440px) {
    #card_size {
        width: 400px;
    }
}
@media (max-width: 400px) {
    #card_size {
        width: 350px;
    }
}
@media (max-width: 350px) {
    #card_size {
        width: 300px;
    }
}