</head>
<body>
<header>
    <div class="container" style="background-color: pink;">
        header입니다.
        <img src="/static/img/logo.png" style="width:30px; margin:10px; float: right;">
    </div>
</header>