<%-include('head.ejs') %>
<%-include('header.ejs') %>
<main>
    <div class="container" style="background-color: skyblue;">
        <h1>여기가 main 페이지 입니다.</h1>
        <img src="static/img/sesac.gif" style="width:100px">
    </div>
</main>
<%-include('footer.ejs') %>
