<%-include('head.ejs') %>
</head>
<main>
    <div class="container" style="background-color: skyblue;">
        여기가 profile 페이지 입니다.

        <!-- profile 관련 -->

    </div>
</main>
<%-include('footer.ejs') %>