<%-include('head.ejs') %>
</head>
<main>
    <div class="container" style="background-color: skyblue;">
        여기가 profile 페이지 입니다.

        <!-- 냉장고 이미지 position -->



        <!-- 식재료 체크박스 -->

    </div>
</main>
<%-include('footer.ejs') %>