<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>냉장고집사</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      const kakaoLogin = async () => {
        const code = location.search.replace("?code=", "");
        await axios.post("/signin/kakao_access", { code: code }).then((res) => {
          localStorage.setItem("access_tk", res.data);
          location.href = "/";
        });
      };
      kakaoLogin();
    </script>
  </head>
  <body></body>
</html>
u
