<%-include('../main/head.ejs') %>
<script type="text/javascript" src="/static/script/user/kakaoInfo.js"></script>
</head>
<body>
    <main>
        <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">추가 정보 입력</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    <form id="form_info">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">전화번호:</label>
                            <input type="text" class="form-control" id="user_phone" oninput="phone_num_hyphen(this)">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="info()">입력 완료</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
<script>
    const myModal = new bootstrap.Modal('#Modal');
    myModal.show();
</script>
</html>