<%-include('../main/head.ejs') %>
<link rel="stylesheet" type="text/css" href="/static/css/user/myPageBasic.css">
<link rel="stylesheet" type="text/css" href="/static/css/user/myPage.css">
<script type="text/javascript" src="/static/script/user/myPagebasic.js"></script>
<script type="text/javascript" src="/static/script/user/myPage.js"></script>
<%-include('../main/header.ejs') %>
<main>
    <%-include('myPageBasic.ejs')%>
    <div class="container">
        <div id="chart_box">
            <p id="box_title"><span>김새싹님</span>의 통계차트</p>
            <div style="background-color:#b9b9b9; width:100%; height:300px;">차트</div>
        </div>
        <div id="recipe_box">
            <p id="box_title"><span>김새싹님</span>의 레시피</p>
            <div id="recent_recipe_box">
                <div id="recent_recipe_title_img">
                    <div id="recent_recipe_title_text">
                        <span>최근 본</span>
                        <span>레시피</span>
                    </div>
                </div>
                <div class="container" id="recent_recipe_card_box" style="margin-left: -5%;">
                    <div class="row" style="flex-direction: row-reverse;">
                        <% for (var i=1 ; i<5 ; i++ ) { %>
                            <div id="recent_recipe_card" class="card col-5">
                                <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
            <div id="recent_cook_box">
                <div id="recent_cook_title_img">
                    <div id="recent_cook_title_text">
                        <span>최근에</span>
                        <span>한 요리</span>
                    </div>
                </div>
                <div class="container" id="recent_cook_card_box" style="margin-right: -5%;">
                    <div class="row">
                        <% for (var i=1 ; i<5 ; i++ ) { %>
                            <div id="recent_cook_card" class="card col-5">
                                <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5"></div>
    </div>
</main>
<%-include('../main/footer.ejs') %>