<%-include('../main/head.ejs') %>
<!-- css -->
<%-include('../main/header.ejs') %>
<main>
    <div class="container" style="background-color: skyblue;">
        여기가 myPage 페이지 입니다.

        <!-- myPage 관련 -->

    </div>
</main>
<%-include('../main/footer.ejs') %>