<%-include('../main/head.ejs')%>

<link rel="stylesheet" type="text/css" href="/static/css/user/myPageBasic.css">
<link rel="stylesheet" type="text/css" href="/static/css/user/profileStart.css">
<script type="text/javascript" src="/static/script/user/profileStart.js"></script>

<%-include('../main/header.ejs')%>
<main>
    <div id="main_background" class="container text-center">
        <div class="row mx-4">
            <div id="out_box1" class="col-3 vh-100">
            <p id="out_box1_text">나의 프로필</p>
            <p id="out_box1_text">찜리스트</p>
            <p id="out_box1_text">회원정보</p>
            </div>
            <div class="col-1"></div>
            <div id="out_box2" class="col-8">
            <div id="title_box">
                <p id="title_box_text" style="font-weight:bold;">김새싹님</p>
                <p id="title_box_text" >의 회원정보</p>
            </div>
            <div id="profile_box" class="h-50 pt-5">
                <p id="profile_box_text" style="font-weight:bold;">비밀번호</p>
                <p id="profile_box_text">를 입력해주세요!</p>
                <form id="form_hidden" method="post" action="/myPage/profileEdit">
                    <input type="hidden" type="text" name="hidden_id" value="id">
                </form>
                <form id="form_profile">
                    <div id="id_box">
                        <sapn>이메일 </sapn><input type="email" name="user_id" value="id" readonly>
                    </div>
                    <div id="pw_box" class="mt-2">
                        <sapn>비밀번호 </sapn><input type="password" name="user_pw">
                    </div>
                    <button type="button" id="button" class="btn mt-3" onclick="pw_confirm()">확인</button>
                </form>
            </div>
            </div>
        </div>
    </div>
</main>
<%-include('../main/footer.ejs')%>