<%-include('../main/head.ejs')%>

<link rel="stylesheet" type="text/css" href="../../static/css/user/myPageBasic.css">
<link rel="stylesheet" type="text/css" href="../../static/css/user/profileStart.css">
<link rel="stylesheet" type="text/javascript" href="../../static/script/user/profileStart.js">

<%-include('../main/header.ejs')%>
<main>
    <div id="main_background" class="container text-center">
        <div class="row mx-4">
            <div id="out_box1" class="col-3 vh-100">
            <p id="out_box1_text">나의 프로필</p>
            <p id="out_box1_text">찜리스트</p>
            <p id="out_box1_text">회원정보</p>
            </div>
            <div class="col-1"></div>
            <div id="out_box2" class="col-8">
            <div id="title_box">
                <p id="title_box_text" style="font-weight:bold;">김새싹님</p>
                <p id="title_box_text" >의 회원정보</p>
            </div>
            <div>
                id/pw/name/phonenum
            </div>
            </div>
        </div>
    </div>
</main>
<%-include('../main/footer.ejs')%>