<%-include('../main/head.ejs')%>
<link rel="stylesheet" type="text/css" href="/static/css/user/myPageBasic.css">
<link rel="stylesheet" type="text/css" href="/static/css/user/profileDel.css">
<script type="text/javascript" src="/static/script/user/profileDel.js"></script>
<%-include('../main/header.ejs')%>
<main id="main_background" class="vh-100">
    <div class="container">
        <div id="text_box">
            <div><span style="font-weight:bold;">김새싹님</span>의</div>
            <div>냉장고에 00개의 재료가</div>
            <div>잠들어 있습니다!</div>
            <div>마이페이지의 모든 기록은 삭제 되며, 삭제된 데이터는 복구 되지 않습니다.</div>
            <div class="mt-5">그래도 탈퇴하시겠습니까?</div>
            <form id="form_hidden">
                <input type="hidden" name="user_id" value="아이디" readonly>
                <input type="hidden" name="user_pw">
                <input type="hidden" name="user_name">
                <input type="hidden" name="user_phone">
                <button type="button" id="button" class="btn mt-3" onclick="profile_del()">냉장고 코드 뽑기</button>
            </form>
        </div>
    </div>
</main>
<%-include('../main/footer.ejs')%>