<%-include('../main/head.ejs') %>

<%-include('../main/header.ejs') %>
<main>
    <div class="container" style="background-color: skyblue;">
       로그인 페이지
       
</main>
<%-include('../main/footer.ejs') %>