<%-include('../main/head.ejs') %>
<link rel="stylesheet" type="text/css" href="/static/css/user/myPageBasic.css">
<link rel="stylesheet" type="text/css" href="/static/css/user/signUp.css">
<script type="text/javascript" src="static/script/user/signUp.js"></script>
</head>
<body>
    <div id="background_img"></div>
    <header>
      <a href="http://localhost:8080/"><img src="/static/img/color_logo.png" id="logo_img" class="mt-2 ms-4" style="width:30px; float: left;"></a>
    </header>
    <div id="signup_box">
      <div id="signup_box_child" class="text-center">
        <h5 id="signup_title" class="mb-3" style="font-size:45px">회원가입</h5>
        <h6 id="signup_side_title" class="mb-2 mb-5" style="font-size:20px">정보를 모두 입력하고 회원가입 버튼을 눌러주세요.</h6>
        <form id="form_signup" class="needs-validation" novalidate>
          <div class="input-group input-group-lg">
            <input type="text" id="user_id" class="form-control rounded" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" name="user_id" placeholder="이메일('@'포함 입력)" oninput="id_click(this);" required>
            <div class="invalid-feedback">이메일을 정확히 입력하세요.</div>
          </div>
          <button type="button" id="btn_id_check" class="btn" onclick="id_check()">중복확인</button>
          <div class="input-group input-group-lg">
            <input id="user_pw" type="password" class="form-control rounded" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" name="user_pw" placeholder="비밀번호(영문+숫자+특수문자 조합, 8~16글자)" oninput="pw_click(this);" required>
            <div class="invalid-feedback">비밀번호를 정확히 입력하세요.</div>
          </div>
          <div class="input-group input-group-lg">
            <input id="user_pw_check" type="password" class="form-control rounded" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" name="user_pw_check" placeholder="비밀번호 확인" oninput="pw_check_click(this);" required>
            <div class="invalid-feedback">비밀번호가 일치하지 않습니다.</div>
          </div>
          <div class="input-group input-group-lg">
            <input id="user_name" type="text" class="form-control rounded" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" name="user_name" placeholder="이름" oninput="name_click(this);" required>
            <div class="invalid-feedback">이름을 정확히 입력하세요.</div>
          </div>
          <div class="input-group input-group-lg">
            <input id="phone_num" type="text" class="form-control rounded" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" oninput="phone_num_hyphen(this)" name="user_phone" placeholder="휴대폰 번호(10~11글자, 숫자만 입력)" required>
            <div class="invalid-feedback">휴대폰 번호를 정확히 입력하세요.</div>
          </div>
          <button type="button" id="button" class="btn mb-3" onclick="signup()">회원가입</button>
        </form>
        <a id="back_main" href="http://localhost:8080/signIn">로그인</a>
      </div>
    </div>
</body>
</html>