<%-include('../main/head.ejs') %>
<link rel="stylesheet" type="text/css" href="/static/css/user/myPageBasic.css">
<link rel="stylesheet" type="text/css" href="/static/css/user/wishList.css">
<script type="text/javascript" src="/static/script/user/wishList.js"></script>
<%-include('../main/header.ejs') %>
<main>
    <div id="mypage_nav" class="container-fluid">
        <div id="mypage_nav_textbox">
            <span>나의 프로필 |</span>
            <span> 찜리스트 |</span>
            <span> 회원정보수정</span>
        </div>
    </div>
    <div id="wishlist_box" class="container">
            <p id="box_title"><span>김새싹님</span>의 찜리스트</p>
            <div id="wishlist_card_box">
                <div class="row">
                    <% for (var i=1 ; i<10 ; i++ ) { %>
                        <div class="card col-4 mb-5">
                            <img src="/static/img/recipe.jpg" class="card-img" alt="...">
                            <div id="card_hover" class="card-img-overlay" onclick="recipe_go()">
                              <h5 id="card_text" class="card-title">레시피 제목</h5>
                              <p id="card_text" class="card-text">레시피 보기</p>
                            </div>
                          </div>
                    <% } %>
                </div>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    </li>
                    <li id="pagnation_text"class="page-item"><a class="page-link" href="#">1</a></li>
                    <!-- <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                    <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    </li>
                </ul>
            </nav>
    </div>
    <div class="mt-5"></div>
</main>
<%-include('../main/footer.ejs') %>