<%-include('../main/head.ejs') %>

<link rel="stylesheet" type="text/css" href="/static/css/user/myPageBasic.css">
<link rel="stylesheet" type="text/css" href="/static/css/user/wishList.css">
<link rel="stylesheet" type="text/javascript" href="/static/script/user/wishList.js">

<%-include('../main/header.ejs') %>
<main>
    <div id="main_background" class="container text-center">
        <div class="row mx-4">
          <div id="out_box1" class="col-3">
            <p id="out_box1_text">나의 프로필</p>
            <p id="out_box1_text">찜리스트</p>
            <p id="out_box1_text">회원정보</p>
          </div>
          <div class="col-1"></div>
          <div id="out_box2" class="col-8">
            <div id="title_box" class="mb-3">
                <p id="title_box_text" style="font-weight:bold;">김새싹님</p>
                <p id="title_box_text">의 찜리스트</p><br>
            </div>
            <div id="in_box2">
                <% for(var k=1; k<4 ; k++ ) { %>
                    <div id="wishlist_box" class="mb-3">
                        <%for (var i=1;i<5; i++ ) { %>
                            <div id="card" class="card text-bg-dark" style="width:150px; height:200px;">
                                <!-- <img src="..." class="card-img" alt="..."> -->
                                <div class="card-img-overlay">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">임시</p>
                                <p class="card-text"><small>Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        <% } %>
                    </div>
                <% } %>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        </li>
                        <li id="pagnation_text"class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                        </li>
                    </ul>
                </nav>
            </div>
          </div>
        </div>
    </div>
</main>
<%-include('../main/footer.ejs') %>