/*공통으로 쓰이는 style*/
* {
    /* 얇기 순서, 기본: Acr */
    /* font-family: 'NanumSquareAcl'; */
    font-family: 'NanumSquareAcr';
    /* font-family: 'NanumSquareAcb'; */
    /* font-family: 'NanumSquareAceb'; */
    --main-yellow : #fffbee;
    --sub-green : #a9bfb7;
    --point-coral : #FFEEE4;
    --btn-warn : #ED6C67; 
    --btn-success : #7E998F;
    --footer-brown : #a79c8e;
    margin:0;
    padding:0;
    list-style-type: none;
}

/*바텀 안넘어오게*/
html, body {
    height: 100%;
} 
main {
    min-height: 100%;
}

/*기본 버튼 설정*/
button {
    border : none;
}

/*a태그 기본 지정*/
a:visited {
    color : black;
}

/* header.css */
.d_none {
    display : none;
}

/* navbar */
/* 임시 logo사이즈 및 굵기 지정 */
#logo_text {
    font-family: 'NanumSquareAceb';
    font-size: 30px;
}
#logo_text>img {
    width:50px;
}
/* navber open btn */
/* .navbar-toggler {
    width:30px;
} */
/* navbar 글씨 */
.navbar {
    /* font-size:x-large;  */
    font-family: 'NanumSquareAceb'; 
    font-weight: bolder;
    min-height: 90%;
}
.navbar div {
    align-content:space-between ;
}
.navbar>div>div {
    display: flex;
    justify-content: center;
}

#nav_fridge {
    width : 30%;
}

/* search bar */
#hd_search {
    width:30rem;
}

/* .form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
} */

#nav_recipe img {
    height : 40px;
}
#nav_fridge img {
    height : 40px;
}

#nav_fridge img:hover, #nav_recipe img:hover {
    /* filter: opacity(0); */
    opacity:0;
}
#nav_fridge a, #nav_recipe a {
    font-size: xx-small;
    position: absolute;
    margin-top: -100;
     opacity : 0;
    transition : opacity 1s;
}
#nav_fridge a:hover, #nav_recipe a:hover {
    opacity : 1;
}

/* header.css END */




/* footer.css */
.footer {
    background-color: var(--footer-brown);  
    min-height: 250px;
}
.footer>a {display: none;}

.footer>.row {
    justify-content:space-between;
}
.ft_left, .ft_right { 
    width:300px; 
}

/* footer 좌측 */
#sesac_logo {
    width: 100px;
}

/* footer 우측 */
.ft_right {
    justify-content: end;
}

/* family site select 정렬*/
.ft_right select {
    padding:0.4; 
    background-color: transparent;
}
.ft_right option { 
    padding : 0.5px; 
}
/* contact us 정렬*/
.ft_contact {
    flex-direction:column; 
    align-items:flex-end;
}
.ft_contact>p {
    font-size:24px; 
    font-family: 'NanumSquareAcr'; 
    font-weight: lighter;
}
.ft_contact i {
    font-size:2.2rem; 
    vertical-align: middle; 
    color: black;
}
#notion_logo {
    width:3rem; 
    padding-bottom:0.3rem;
}
#figma_logo {
    width:1.6rem;
}
/* footer.css END */
