/*공통으로 쓰이는 style*/
* {
    /* 얇기 순서, 기본: Acr */
    /* font-family: 'NanumSquareAcl'; */
    font-family: 'NanumSquareAcr';
    /* font-family: 'NanumSquareAcb'; */
    /* font-family: 'NanumSquareAceb'; */
    --main-yellow : #fffbee;
    --sub-green : #a9bfb7;
    --point-coral : #FFEEE4;
    --btn-warn : #ED6C67; 
    --btn-success : #7E998F;
    --footer-brown : #a79c8e;
    margin:0;
    padding:0;
    list-style-type: none;
}

/*바텀 안넘어오게*/
html, body {
    height: 100%;
} 
main {
    min-height: 100%;
}

/*기본 버튼 설정*/
button {
    border : none;
}

/*a태그 기본 지정*/
a:visited {
    color : black;
}

/* header.css */
.d_none {
    display : none;
}

#header_box {
    margin-left: 150px;
    margin-right: 150px;
}

.header_top {
    display:flex;
    justify-content: end;
    text-align: center;
    padding-right: 5rem;
}

/* navbar */
/* 임시 logo사이즈 및 굵기 지정 */
#logo_text {
    font-family: 'NanumSquareAceb';
    font-size: 30px;
}
#logo_text>img {
    width:50px;
}
/* navber open btn */
/* .navbar-toggler {
    width:30px;
} */
/* navbar 글씨 */
.nav_text {
    font-size:x-large; 
    font-family: 'NanumSquareAceb'; 
    font-weight: bolder;
}

/* search bar */
#hd_search {
    width:20rem;
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}

/* header.css END */




/* footer.css */
.footer {
    background-color: var(--footer-brown);  
    min-height: 250px;
}
.footer>a {display: none;}

.footer>.row {
    justify-content:space-between;
}
.ft_left, .ft_right { 
    width:300px; 
}

/* footer 좌측 */
#sesac_logo {
    width: 100px;
}

/* footer 우측 */
.ft_right {
    justify-content: end;
}

/* family site select 정렬*/
.ft_right select {
    padding:0.4; 
    background-color: transparent;
}
.ft_right option { 
    padding : 0.5px; 
}
/* contact us 정렬*/
.ft_contact {
    flex-direction:column; 
    align-items:flex-end;
}
.ft_contact>p {
    font-size:24px; 
    font-family: 'NanumSquareAcr'; 
    font-weight: lighter;
}
.ft_contact i {
    font-size:2.2rem; 
    vertical-align: middle; 
    color: black;
}
#notion_logo {
    width:3rem; 
    padding-bottom:0.3rem;
}
#figma_logo {
    width:1.6rem;
}
/* footer.css END */

/* 내정보, 로그인 부분 */
#header_top {
    text-align: right;
    margin: 5px 20px 0px 0px;
}
#header_top > div > span {
font-size: 18px;
}
#heder_nav:hover, #sign_in:hover, #sign_out:hover {
font-weight: bold;
}
.sign_out_none {
display: none;
}
.sign_in_none {
display:none;
}
  