#firstMain_box {
    text-align: center;
}

/* #firstMain_box>.row {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.first_title {
    font-family: 'NanumSquareAceb';
    color : white;
    font-size: 6rem;
    font-weight: bolder;
    line-height: 110%;
}

#first_row {
    height : 90vh;
    background-image: url(https://food.unl.edu/newsletters/images/kitchen-refrigerator.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-content: space-between;
}
#first_row_top {
    justify-content: flex-end;
}
#first_row_bottom {
    justify-content: center;
    margin-bottom: 15rem;
}

#first_signIn {
    color : white;
    width : 9rem;
    height :3rem;
    border-radius: 50px;
    background-color: var(--btn-success);
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 5px rgb(37, 51, 51);
    margin-right: 2rem;
    margin-top: 2rem;
}

#first_signUp {
    color : white;
    width : 15rem;
    height : 5rem;
    border-radius: 80px;
    background-color: var(--btn-warn);
    font-size: 2rem;
    font-family: 'NanumSquareAcb';
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 5px rgb(37, 51, 51);
    margin-top: 8rem;
}

#second_row {
    height : 100vh;
    background-color: var(--main-yellow);
    padding-top: 5rem;
    justify-content: center;
}
.second_title {
    color : #686464;
    font-size: 4rem;
    font-weight: bolder;
    font-family: 'NanumSquareAceb';
    margin-bottom: 1rem;
}
.second_text {
    color : #686464;
    font-size: 2rem;
    font-weight: bold;
}
.second_footer {
    color : #686464;
    font-size: 3rem;
    font-weight: bolder;
}
#second_row > .row {
    display: flex;
    justify-content: space-around;
}

/* #second_row > i {
    font-size: 4rem;
    font-weight:bolder;
    color : var(--btn-success);
    font-family: 'NanumSquareAceb';
} */

#second_arrow {
    width : 5rem;
    height: 5rem;
    background-image: url('data:image/svg+xml;utf8,<svg style="color:var(--btn-success);" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/></svg>');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.second_round {
    width: 18rem;
    height : 18rem;
    border-radius: 9rem;
    background-color: var(--btn-success);
    color : white;
    font-size: 2rem;
    font-family: 'NanumSquareAcb';
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 3px 3px rgb(146, 146, 146);
}
#third_row {
    height : 100vh;
    background-color: var(--main-yellow);
}

.third_title {
    color : black;
    font-size: 5rem;
    font-weight: bolder;
    font-family: 'NanumSquareAceb';
    padding-top: 2rem;
}