.d_none {
  display: none;
}

/*toast -  user 환영 msg */
#welcome_user {
  position: relative;
  right: 0px;
  z-index: 1;
  width : 20%;
  height: 200px;
  float:right;
}
.swal2-popup.swal2-toast .swal2-html-container {
  font-size:large;
}
.swal2-popup.swal2-toast .swal2-html-container>p {
  font-size:larger;
  margin-bottom: 0.5rem;
}
#welcome_user b {
  font-family: 'NanumSquareAceb';
  font-size :larger;
  background-color: white;
  color: var(--btn-warn);
}
body.swal2-toast-shown .swal2-container {
  width : auto;
}
.position-absolute {
  position: absolute !important;
}



.first_main {
  margin-top: 50px;
}
.carousel_box {
  height: 400px;
}
.carousel_box_inner > div {
  text-align: center;
}
.carousel_box_inner img {
  display: inline-block !important;
}
.carousel_box_inner {
  overflow: visible;
}
.mainPage_main, .mainPage_box {
  padding:0;
}
.second_box_title, .third_box_title {
  font-size:xx-large;
  margin: 200px 0 20px 0;
  font-weight: bolder;
}
.second_box_content {
  max-width: 100%;
  margin: 0;
  justify-content: space-between;
}

/* 캐러셀 이미지 */
#carousel_img {
  width:100%;
  height:400px;
  object-fit: cover;
}


/* 인기 레시피 카드 안 이미지 여백 없이 꽉차게 */
.card_box {
  padding:0;
  display: inline-block;
  border: white;
  width:auto;
  height: auto;
}
.card_box > img {
  width:300px;
  height: 450px;
  object-fit: cover;
  border: 1px solid #d9d9d9;
}
/* 인기 레시피 카드 타이틀 정리 */
.card_title {
  margin-top:10px;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
  color: #474747;
  font-size: 18px;
}

/* 인기레시피 호버 시 */
.card_box {
  overflow: hidden;
}
.card_box img:hover {
  transform: scale(1.02);
  /* transition: 0.2s ease-in-out; */
  transition: 0.5s linear;
}

/* 사용가이드 크기에 맞게 */
.third_main {
  margin-bottom: 100px;
}
.user_guide {
  height: 100%;
  width: 100%;
}
.display_none {
  display: none;
}
.user_guide_sm {
  width:100%;
  height: 300px;
}

/* 냉장고 관리 box 정리 */
.fridge_main {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
}
.fresh_food_main {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
}
.fridge_text_box {
  margin-left: 30px;
  text-align: left;
}
.fresh_food_box {
  margin-right: 25px;
  text-align: left;
}
.fridge_title, .fresh_food_title {
  font-weight: bolder;
  font-size: 30px;
}
.fridge_content, .fresh_food_content {
  font-size: 20px;
  margin-bottom: 15px;
  color: #4d4d4d;
}
.fridge_main img, .fresh_food_main img {
  width: 700px;
  height: 400px;
}
.fridge_text_box, .fresh_food_box {
  width: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fridge_content:nth-child(3) {
  margin-bottom: 5px !important;
}
.fridge_content:nth-child(4) {
  margin-left: 22px;
}

/* 반응형 정리 */
@media (max-width: 1793px) {
  .carousel_box {
    height:auto;
  }
  #carousel_img {
    object-fit: fill;
  }
  .mainPage_main {
    width: 1160px;
  }
  .second_box_content {
    justify-content: space-evenly;
  }
  .card_box > img {
    width: 250px;
    height: 350px;
  }
  .fridge_title, .fresh_food_title {
    font-size: 33px;
  }
  .fridge_content, .fresh_food_content {
    font-size: 26px;
  }
  .fridge_main img, .fresh_food_main img {
    width: 650px;
    height: 420px;
  }
  .fridge_text_box, .fresh_food_box {
    width: 470px;
  }
}
@media (max-width: 1534px) {
  #welcome_user p, #welcome_user b {
    font-size: 18px;
  }
}

@media (max-width: 1440px) {
  .mainPage_main {
    width: 820px;
  }
  #carousel_img {
    width:100%;
    height:300px;
  }
  .second_box_content {
    justify-content: space-around;
  }
  .card_box > img {
    width: 180px;
    height: 260px;
  }
  .card_title {
    font-size: medium;
  }
  .fridge_text_box {
    margin-left: 30px;
  }
  .fresh_food_box {
    margin-right: 25px;
  }
  .fridge_content, .fresh_food_content {
    font-size: 18px;
  }
  .fridge_title, .fresh_food_title {
    font-weight: bolder;
    font-size: 23px;
  }
  #welcome_user {
    width:300px;
    height:150px;
  }
  .fridge_main img, .fresh_food_main img {
    width: 500px;
    height: 300px;
  }
}
@media (max-width:1262px) {
  #carousel_img {
    height: auto;
  }
}

@media (max-width: 1000px) {
  .mainPage_main {
    width: 600px;
  }
  .second_box_content {
    justify-content: space-around;
  }
  .card_box > img {
    width: 140px;
    height: 200px;
  }
  .second_box_title, .third_box_title {
    font-size:x-large;
  }
  .fridge_main img, .fresh_food_main img {
    width: 370px;
    height: 220px;
  }
  .fridge_title, .fresh_food_title {
    font-size: 17px !important;
  }
  .fridge_content, .fresh_food_content {
    font-size: 14px !important;
  }
  .fridge_text_box p
  /* alert 크기 정리 */
  #welcome_user {
    width:200px;
    height:100px;
  }
  #welcome_user p, #welcome_user b {
    font-size: 12px;
  }
  .swal2-html-container {
    margin: 0 !important;
  }
  #p1 {
    margin: 0 0 1px 0;
  }
  #p2 {
    margin: 0 !important;;
  }
}

@media (max-width: 768px) {
  .mainPage_main {
    width: 100%;
  }
  .second_box_content {
    display: block;
  }
  .card_box {
    width: 100%;
  }
  .card_box > img {
    width: 70%;
    height:200px;
  }
  .card_title {
    display: none;
  }
  .card_title_sm {
    display: inline-block;
    width:70%;
    margin: 3px 0 7px 0;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
  }
  .fridge_main, .fresh_food_main {
    justify-content: space-evenly;
  }
  .fridge_main img, .fresh_food_main img {
    width: 300px;
    height: 200px;
  }
  .fridge_text_box, .fresh_food_box {
    width:300px;
    margin:0;
  }
  #welcome_user {
    display: none;
  }
}
@media (max-width:638px) {
  .fridge_main img, .fresh_food_main img {
    width: 250px;
    height: 250px;
  }
  .fridge_text_box, .fresh_food_box {
    width:250px;
  }
}

@media (max-width: 550px) {
  .fridge_main img, .fresh_food_main img {
    width: 200px;
    height: 200px;
  }
  .fridge_text_box, .fresh_food_box {
    width:200px;
  }
  .fridge_title, .fresh_food_title {
    font-size: 14px !important;
  }
  .fridge_content, .fresh_food_content {
    font-size: 12px !important;
  }
}
@media (max-width:500px) {
  .second_box_title, .third_box_title {
    margin: 150px 0 20px 0;
  }
  .fresh_food_main , .fridge_main {
    margin-top: 150px;
  }
  .user_guide_sm {
    display: block;
  }
  .user_guide {
    display: none;
  }
  .third_main {
    padding-bottom: 30px;
  }
}
@media (max-width: 435px) {
  .fridge_main, .fresh_food_main {
    display: block;
  }
  .fridge_main img, .fresh_food_main img {
    width:100%;
    height:300px;
    opacity: 0.7;
    position: relative;
    z-index: 1;
  }
  .fridge_text_box {
    text-align: center;
    position: relative;
    z-index: 2;
    bottom:230px;
    width:100%;
    padding: 10px;
  }
  .fresh_food_box {
    position: relative;
    z-index: 2;
    top:250px;
    width:100%;
    text-align: center;
    padding: 10px;
  }
  .fridge_title, .fresh_food_title {
    font-weight: bolder;
    font-size: 20px !important;
    text-shadow: 0px 0px 3px #ffffff;
  }
  .fridge_content, .fresh_food_content {
    text-shadow: 0px 0px 3px #ffffff;
    font-size: 15px !important;
    color: #000000 !important;
    font-weight: bold;
  }
  .fresh_food_main {
    margin-top: 0px;
  }
  .fridge_main {
    margin-top: 100px;
  }
  .second_box_title {
    margin-top: 20px;
  }
  .third_box_title {
    margin-top:220px;
  }
  .user_guide_sm {
    height: 250px;
  }
}
@media (max-width: 350px) {
  .user_guide_sm {
    height: 220px;
  }
}
@media (max-width: 326px) {
  .fridge_title, .fresh_food_title {
    font-size: 17px !important;
  }
  .fridge_content, .fresh_food_content {
    font-size: 13px !important;
  }
}
