<%-include('head.ejs') %>
<div class="container-fluid error_box">
    <!-- <a href="/"><img src="../../static/img/error_page.png"></a> -->
    <img src="../../static/img/error_page.png">
</div>
</body>
</html>