<%-include('head.ejs') %>
<link href="/static/css/main/first_main.css" rel="stylesheet" type="text/css">
<div class="container-fluid" id="firstMain_box">
    <div class="row" id="first_row">
        <div class="row" id="first_row_top">
            <div type="button" id="first_signIn">로그인</div>
        </div>
        <div class="row" id="first_row_bottom">
            <div class="first_title mt-2">클릭 하나로 냉장고 관리부터<br>레시피 추천까지</div>
            <div type="button" id="first_signUp">회원가입</div>
        </div> 
    </div>

    <div class="row" id="second_row">
        <div class="second_title">"당신의 냉장고, 뭐가 얼마나 들었나요?"</div>
        <div class="second_text">
            성능 좋은 냉장고의 환경 역설, 문제는 냉장고가 아니다.</br>
            버려지는 음식의 환경 경제 손실... 냉장고 속 식재료 효율화 절실.</br><br>
            더이상 버리지 마세요! 똑똑한 냉장고 집사가 도와드려요.
        </div>
        <i class="bi bi-arrow-down"></i>
        <div class="row">
            <div class="second_round">음식물 쓰레기 ↓<br>환경 보호</div>
            <div class="second_round">과소비 방지<br>생활비 절약</div>
            <div class="second_round">식재료 현황 파악<br>및 레시피 추천</div>
        </div>
    </div>


    <div class="row" id="third_row">
        <div class="third_title">냉장고 집사<br/>사용가이드</div>

    </div>
</div>
</body>
</html>