<footer>
        <div class="footer container-fluid ">
            <div class="row d-flex">
                <div class="ft_left">
                    <div class="ft_left_child">
                        <a href="https://sesac.seoul.kr/common/greeting.do" target="_blank">
                            <img src="https://sesac.seoul.kr/static/common/images/www/common/img_ssac_intro.png"
                             id="sesac_logo" class="m-3 mt-5">
                        </a>
                        <p>COPYRIGHT © 2022 BY SESAC FRIDGE. CO., LTD. ALL RIGHTS RESERVERD.</p>
                    </div>

                </div>
                <div class="ft_right">
                    <div class="ft_right_child">
                        <select class="form-select mt-3 mb-3 " onchange="if(this.value) window.open(this.value)">
                            <option selected>FAMILY SITE</option>
                            <option value="https://www.10000recipe.com/">만개의 레시피</option>
                            <option value="https://www.kurly.com/main">마켓컬리</option>
                        </select>
                        <div class="ft_contact d-flex mt-5 me-1">
                            <p style="font-weight: bold;">Contact Us</p>
                            <div class="ft_contact_img">
                                <a href="https://github.com/jihyang1106/SeSAC_Fridge/tree/develop" target="_blank">
                                    <i class="bi bi-github mt-1"></i>
                                </a>
                                <a href="https://www.notion.so/38dd33a0a22d4e78a52f2f2fe8a0a79c" target="_blank">
                                    <img src="https://www.notion.so/cdn-cgi/image/format=auto,width=256,quality=100/front-static/shared/icons/notion-app-icon-3d.png" 
                                        id="notion_logo">
                                </a>
                                <a href="https://www.figma.com/file/XBcCD1jbtGqqt3vfmdogs5/SeSAC-Fridge?node-id=0%3A1&t=HdDubVu3fH6wkJHw-0" target="_blank">
                                    <img src="https://cdn.worldvectorlogo.com/logos/figma-1.svg" 
                                        id="figma_logo" class="mb-1 ms-1">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</footer>
</body>
</html>