<script type="text/javascript" src="/static/script/main/header.js"></script>
</head>
<body>
<header>
    <div class="container-fluid" style="height:120px;">
        <div class="row">
            <div id="header_top">
                <div id="delete_box">
                    <span id="user_name"></span>
                    <span id="header_nav" type="button" onclick="location.href='/mypage';"> 내정보 </span><span id="stick"> | </span>
                    <span id="sign_in" type="button" onclick="location.href='/login';"> 로그인</span>
                    <span id="sign_out" type="button" onclick="signout_go();"> 로그아웃</span>
                </div>
            </div>
        </div> 

        <nav id="navvv" class="row navbar navbar-expand-lg bg-body-tertiary bg-white">
            <div class="container-fluid">
                <!-- 반응형으로 창 작아지면 보이는 toggle button -->
                <a class="navbar-brand" href="/" id="logo_text">냉장고 집사<img src="../../static/img/sesac.gif"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span> 
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <form class="d-flex" role="search" id="hd_search" method="get" action="/recipe">
                            <input class="form-control me-2" type="search" name="keyword" placeholder="식재료를 검색해 주세요" aria-label="Search">
                            <button class="btn" id="search_btn" type="submit">Search</button>
                        </form>
                        <li class="nav-item" id="nav_recipe">
                            <a href="/recipe" id="nr_1"><img src="../../static/img/navRecipe.png"></a>
                            <a class="nav-link active hidden" id="nr_2" aria-current="page" href="/recipe">레시피 추천</a> 
                        </li>
                        <li class="nav-item" id="nav_wishlist">
                            <a href="#" id="nw_1"><img src="../../static/img/navWishlist.png"></a>
                            <a class="nav-link active hidden" id="nw_2" aria-current="page" href="/mypage/wishlist">찜 리스트</a>
                        </li>
                        <li class="nav-item" id="nav_fridge">
                            <a href="/myFridge" id="nf_1"><img src="../../static/img/navFridge.png"></a>
                            <a class="nav-link active hidden" id="nf_2" aria-current="page" href="/myFridge">나의 냉장고</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <script>
        // console.log( localStorage.getItem("username"));
        if ("<%=user_name%>" !== 'false') $("#user_name").text("<%=user_name%>"+"님 |");
    </script>
    <script>
        if("<%=isLogin%>"=="true") {
            $("#sign_in").addClass("d_none");
            $("#sign_out").removeClass("d_none");
            $("#header_nav").removeClass("d_none");
            $("#stick").removeClass("d_none");
        } else {
            $("#sign_in").removeClass("d_none");
            $("#sign_out").addClass("d_none");
            $("#stick").addClass("d_none");
            $("#header_nav").addClass("d_none");
            $("#nav_wishlist").addClass("d_none");
            $("#nav_wishlist").children().addClass("d_none");
            $("#nav_fridge, #nav_wishlist").css("margin-left","0");
        }
    </script> 
</header>