</head>
<body>
<header>
    <div class="container-fluid" style="height:100px;"> 
        <nav class="navbar bg-white">
            <div class="container-fluid" id="header_box">
                <a class="navbar-brand" href="#" id="logo_text">냉장고 집사<img src="static/img/sesac.gif"></a>
                <img src="/static/img/color_logo.png" class="navbar-toggler p-0 border-0" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="navbar-nav me-auto" >
                        <ul class="nav nav_text justify-content-center">
                            <li class="nav-item me-3 ms-5">
                                <a class="nav-link active" aria-current="page" href="#">신선제품 관리</a>
                            </li>
                            <li class="nav-item me-3 ms-3">
                                <a class="nav-link active" aria-current="page" href="http://localhost:8080/recipe/">레시피 추천</a>
                            </li>
                            <li class="nav-item me-3 ms-3">
                                <a class="nav-link active" aria-current="page" href="http://localhost:8080/myFridge">나의 냉장고</a>
                            </li>
                            <li class="nav-item me-3 ms-3">
                                <a class="nav-link active" aria-current="page" href="http://localhost:8080/myPage/">마이 페이지</a>
                            </li>
                            <li class="nav-item ms-4">
                                <div class="input-group border rounded-pill p-1" id="hd_search">
                                    <div class="input-group-prepend border-0">
                                      <button id="button-addon4" type="button" class="btn btn-link text-info"><i class="fa fa-search"></i></button>
                                    </div>
                                    <input type="search" placeholder="Search" aria-describedby="button-addon4" class="form-control bg-none border-0">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>