<script type="text/javascript" src="/static/script/main/header.js"></script>
</head>
<body>
<header>
    <div class="container-fluid" style="height:100px;">
        <nav class="navbar">
            <div id="header_box" class="container-fluid">
              <a id="logo_text" class="navbar-brand" href="#">냉장고 집사</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <img src="/static/img/color_logo.png" style="width:30px; margin:10px; float: right;">
                <!-- <img src="/static/img/nocolor_logo.png" style="width:30px; margin:10px; float: right;"> -->
              </button>
              <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">신선제품 관리</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="http://localhost:8080/recipe/">레시피 추천</a>
                    </li>
                    <li class="nav-item">
                        <!-- <button class="nav-link active" style="background-color: white;" aria-current="page" onclick="myfridge_go()">나의 냉장고</button>
                        <form id="myfridge_go" action="/myFridge" method="post"></form> -->
                        <a class="nav-link active" aria-current="page" href="http://localhost:8080/myFridge/">나의 냉장고</a>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link active" style="background-color: white;" aria-current="page" onclick="mypage_go()">마이 페이지</button>
                        <form id="mypage_go" action="/myPage" method="post"></form>
                    </li>
                  </ul>
                  <form class="d-flex mt-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
                </div>
              </div>
            </div>
          </nav>
    </div>
</header>