<link href="/static/css/main/header.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/static/script/main/header.js"></script>
</head>
<body>
<header>

    <div class="container-fluid" style="height:100px;">
        <!-- 로그인 시, d_none 제거 user_name - 내 정보 - 로그아웃 노출 -->
        <div class="header_top d_none">
            <span>정새싹님 |</span>
            <button type="button" onclick="mypage_go();">내 정보 |
                <form id="mypage_go" action="/myPage" method="post"></form>
            </button>
            <button type="button" onclick="logout_go();">로그아웃</button>
        </div>
        <nav class="navbar bg-white">
            <div class="container-fluid" id="header_box">
                <a class="navbar-brand" href="/" id="logo_text">냉장고 집사<img src="static/img/sesac.gif"></a>
                <img src="/static/img/color_logo.png" class="navbar-toggler p-0 border-0" style="border-radius:0;" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="navbar-nav me-auto" >
                        <ul class="nav nav_text justify-content-center">
                            <li class="nav-item me-3 ms-5">
                                <a class="nav-link active" aria-current="page" href="#">신선제품 관리</a>
                            </li>
                            <li class="nav-item me-3 ms-3">
                                <a class="nav-link active" aria-current="page" href="/recipe">레시피 추천</a>
                            </li>
                            <li class="nav-item me-3 ms-3">
                                <a class="nav-link active" aria-current="page" href="/myFridge">나의 냉장고</a>
                            </li>
                            <li class="nav-item me-3 ms-3">
                            </li>
                            <li class="nav-item ms-4">
                                <div class="input-group border rounded-pill p-1" id="hd_search">
                                    <div class="input-group-prepend border-0">
                                      <button id="button-addon4" type="button" class="btn btn-link text-info"><i class="fa fa-search"></i></button>
                                    </div>
                                    <input type="search" placeholder="Search" aria-describedby="button-addon4" class="form-control bg-none border-0">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>

</header>