<%-include('head.ejs') %>
<script src="static/script/main/main.js"></script>
<%-include('header.ejs') %>
<main>
    <div class="container">
        <h1 id="title">여기가 main 페이지 입니다.</h1>
        <img src="static/img/sesac.gif" style="width:100px">
    </div>
    <a href="/recipe">레시피</a>
</main>
<%-include('footer.ejs') %>
