<%-include('../main/head.ejs') %>
<link href="static/css/recipe/recipe.css" rel="stylesheet">
<!--masonry-->
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
<script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.min.js"></script>

<script src="static/script/recipe/recipe.js"></script>
<%-include('../main/header.ejs') %>
<div class="container-fluid" id="filter">
    <div class="container" id="filter_box">
      <button class="btn">반찬</button>
      <button class="btn">밥</button>
      <button class="btn">국/탕</button>
      <button class="btn">건강/웰빙</button>
      <button class="btn">야식</button>
    </div>
</div>
<main>
  <%=data.recipe_title%>
  <div class="grid container" id="grid">
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2022/11/15/9e01753c1b0f35315692fd5c984db4be1_m.jpg"/>
        <div class="recipe_detail">
          <div class="btns">
            <button class="btn show_recipe" type="button">레시피보기</button>
            <button class="btn show_cook" type="button">요리하기</button>
          </div>
          <div class="title">제목이 들어갈 자리입니다.
          </div>
        </div>
        <!--재료, 시간-->
        <div class="ingd_time">
          <div><i class="fas fa-regular fa-bowl-food"></i> : 아스파라거스, 꽃등심, 우유, 달걀</div>
          <div><i class="fa-regular fa-clock"></i> : 30분이내</div>
        </div>
      </div>
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2022/12/08/bee55782d741a15d576e72693333352d1.jpg" />
        <div class="title">제목이 들어갈 자리입니다.</div>
      </div>
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2022/12/14/39461c6a0cf25b9f352b851d071506351_m.jpg" />
        <div class="title">fspekpgkspegkespgkpp제목이 들어갈 자리입니다.</div>
      </div>
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2018/07/07/784b7e46b2cb23659576da8cd0df5bde1_m.jpg" />
        <div class="title">제목이 들어갈 자리입니다.</div>
      </div>
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2016/10/27/462f2e2c70a260e044c4450bc18e6f651_m.jpg" />
        <div class="title">제목이 들어갈 자리입니다.</div>
      </div>
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2017/09/15/6229b0022c9376c251d4527730ce0ee01_m.jpg" />
        <div class="title">fspekpgkspegkespgkpp제목이 들어갈 자리입니다.</div>
      </div>
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2017/07/06/c807784ab41809f624a6a4a7466cd5bd1_m.jpg" />
        <div class="title">제목이 들어갈 자리입니다.</div>
      </div>
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2015/12/24/7b10402a82606a5a3de6710c93a110f41_m.jpg" />
        <div class="title">fspekpgkspegkespgkpp제목이 들어갈 자리입니다.</div>
      </div>
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2015/10/14/434379c503e37e6964324965a79d3a101_m.jpg" />
        <div class="title">제목이 들어갈 자리입니다.</div>
      </div>
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2016/12/08/42c85d50c9aade52ccf87bbd99e359261_m.jpg" />
        <div class="title">제목이 들어갈 자리입니다.</div>
      </div>
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2019/02/03/b967403fe8c42c5814ea0042207a2c931_m.jpg" />
        <div class="title">제목이 들어갈 자리입니다.</div>
      </div>
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2019/02/03/b967403fe8c42c5814ea0042207a2c931_m.jpg" />
        <div class="title">제목이 들어갈 자리입니다.</div>
      </div>
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2019/02/03/b967403fe8c42c5814ea0042207a2c931_m.jpg" />
        <div class="title">제목이 들어갈 자리입니다.</div>
      </div>
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2019/02/03/b967403fe8c42c5814ea0042207a2c931_m.jpg" />
        <div class="title">제목이 들어갈 자리입니다.</div>
      </div>
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2019/02/03/b967403fe8c42c5814ea0042207a2c931_m.jpg" />
        <div class="title">제목이 들어갈 자리입니다.</div>
      </div>
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2019/02/03/b967403fe8c42c5814ea0042207a2c931_m.jpg" />
        <div class="title">제목이 들어갈 자리입니다.</div>
      </div>
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2018/01/29/c84c408cd7588b7b2d6a12d031a3bc981_m.jpg" />
        <div class="title">제목이 들어갈 자리입니다.</div>
      </div>
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2016/10/19/92c7f040e2595e5504b027a28f74959d1_m.jpg" />
        <div class="title">제목이 들어갈 자리입니다.</div>
      </div>
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2019/02/03/b967403fe8c42c5814ea0042207a2c931_m.jpg" />
        <div class="title">제목이 들어갈 자리입니다.</div>
      </div>
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2019/02/03/b967403fe8c42c5814ea0042207a2c931_m.jpg" />
        <div class="title">제목이 들어갈 자리입니다.</div>
      </div>
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2019/02/03/b967403fe8c42c5814ea0042207a2c931_m.jpg" />
        <div class="title">제목이 들어갈 자리입니다.</div>
      </div>
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2019/02/03/b967403fe8c42c5814ea0042207a2c931_m.jpg" />
        <div class="title">제목이 들어갈 자리입니다.</div>
      </div>
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2018/01/29/c84c408cd7588b7b2d6a12d031a3bc981_m.jpg" />
        <div class="title">제목이 들어갈 자리입니다.</div>
      </div>
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2016/10/19/92c7f040e2595e5504b027a28f74959d1_m.jpg" />
        <div class="title">제목이 들어갈 자리입니다.</div>
      </div>
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2017/07/06/c807784ab41809f624a6a4a7466cd5bd1_m.jpg" />
        <div class="title">제목이 들어갈 자리입니다.</div>
      </div>
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2015/12/24/7b10402a82606a5a3de6710c93a110f41_m.jpg" />
        <div class="title">fspekpgkspegkespgkpp제목이 들어갈 자리입니다.</div>
      </div>
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2015/10/14/434379c503e37e6964324965a79d3a101_m.jpg" />
        <div class="title">제목이 들어갈 자리입니다.</div>
      </div>
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2016/12/08/42c85d50c9aade52ccf87bbd99e359261_m.jpg" />
        <div class="title">제목이 들어갈 자리입니다.</div>
      </div>
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2019/02/03/b967403fe8c42c5814ea0042207a2c931_m.jpg" />
        <div class="title">제목이 들어갈 자리입니다.</div>
      </div>
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2019/02/03/b967403fe8c42c5814ea0042207a2c931_m.jpg" />
        <div class="title">제목이 들어갈 자리입니다.</div>
      </div>
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2019/02/03/b967403fe8c42c5814ea0042207a2c931_m.jpg" />
        <div class="title">제목이 들어갈 자리입니다.</div>
      </div>
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2019/02/03/b967403fe8c42c5814ea0042207a2c931_m.jpg" />
        <div class="title">제목이 들어갈 자리입니다.</div>
      </div>
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2019/02/03/b967403fe8c42c5814ea0042207a2c931_m.jpg" />
        <div class="title">제목이 들어갈 자리입니다.</div>
      </div>
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2019/02/03/b967403fe8c42c5814ea0042207a2c931_m.jpg" />
        <div class="title">제목이 들어갈 자리입니다.</div>
      </div>
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2018/01/29/c84c408cd7588b7b2d6a12d031a3bc981_m.jpg" />
        <div class="title">제목이 들어갈 자리입니다.</div>
      </div>
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2016/10/19/92c7f040e2595e5504b027a28f74959d1_m.jpg" />
        <div class="title">제목이 들어갈 자리입니다.</div>
      </div>
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2019/02/03/b967403fe8c42c5814ea0042207a2c931_m.jpg" />
        <div class="title">제목이 들어갈 자리입니다.</div>
      </div>
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2019/02/03/b967403fe8c42c5814ea0042207a2c931_m.jpg" />
        <div class="title">제목이 들어갈 자리입니다.</div>
      </div>
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2019/02/03/b967403fe8c42c5814ea0042207a2c931_m.jpg" />
        <div class="title">제목이 들어갈 자리입니다.</div>
      </div>
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2019/02/03/b967403fe8c42c5814ea0042207a2c931_m.jpg" />
        <div class="title">제목이 들어갈 자리입니다.</div>
      </div>
      <div class="grid-item">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2018/01/29/c84c408cd7588b7b2d6a12d031a3bc981_m.jpg" />
        <div class="title">제목이 들어갈 자리입니다.</div>
      </div>
      <div class="grid-item" id="content">
        <img src="https://recipe1.ezmember.co.kr/cache/recipe/2016/10/19/92c7f040e2595e5504b027a28f74959d1_m.jpg" />
        <div class="title">제목이 들어갈 자리입니다.</div>
      </div>
      <!--grid-item-->
  </div>
  <!--grid container-->
  <!-- <div class="pagination">페이지네이션</div> -->
</main>
<script>

</script>
<%-include('../main/footer.ejs') %>