<%-include('../main/head.ejs') %>

<%-include('../main/header.ejs') %>
<main>
    <div class="container" style="background-color: skyblue;">
       레시피 추천 페이지
</main>
<%-include('../main/footer.ejs') %>